@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Geist:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-surface: #111318;
  --color-surface-dim: #111318;
  --color-surface-bright: #37393e;
  --color-surface-container-lowest: #0c0e12;
  --color-surface-container-low: #1a1c20;
  --color-surface-container: #1e2024;
  --color-surface-container-high: #282a2e;
  --color-surface-container-highest: #333539;
  --color-on-surface: #e2e2e8;
  --color-on-surface-variant: #c4c5d9;
  --color-inverse-surface: #e2e2e8;
  --color-inverse-on-surface: #2f3035;
  --color-outline: #8e90a2;
  --color-outline-variant: #434656;
  --color-surface-tint: #b8c3ff;
  --color-primary: #b8c3ff;
  --color-on-primary: #002388;
  --color-primary-container: #2e5bff;
  --color-on-primary-container: #efefff;
  --color-secondary: #e6feff;
  --color-on-secondary: #003739;
  --color-tertiary: #ecb2ff;
  --color-error: #ffb4ab;
  --color-background: #0A0C10;

  --font-geist: "Geist", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-inter overflow-x-hidden;
  }
}

@layer components {
  .glass-panel {
    @apply bg-surface-container/70 backdrop-blur-xl border border-white/10;
  }
  
  .neon-glow-primary {
    @apply shadow-[0_0_15px_rgba(46,91,255,0.3)];
  }
}
